.box{
    background-color: rgb(126, 162, 162);
}
.box1{
color: yellow;
padding: 10px;
margin: 25px;
border: 2px solid blue;
height: 200px;
box-sizing:border-box;
}

.box2{
color: red;
padding: 10px;
margin: 25px;
border: 2px solid rgb(0, 0, 1);
height: 200px;
box-sizing:border-box;
}